body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

h3.panel-title {
  font-size: 14px;
}

/* Time Schedule Styling */

table.schedule {
  border-collapse: collapse;
  width: 100%;
}

table.schedule, table.schedule th, table.schedule td {
  border: 1px solid #dddddd;
}

table.schedule th, table.schedule td {
  padding: 5px;
  vertical-align: top;
}

table.schedule th {
  text-align: center;
  background-color: #eeeeee;
}

table.schedule div.panel {
  margin-bottom: 0px;
}

table.schedule div.panel-heading, table.schedule div.panel-body {
  padding:5px;
}

DIV.footer {
  padding: 10px;
  font-size: 9pt;
  color: #aaaaaa;
}

/* MOBILE */

@media only screen and (max-width : 1024px)  {
  div.alert {
    font-size: 10px;
  }
  h1 {
    font-size: 15px;
  }
  h3.panel-title {
    font-size: 10px;
  }
  .panel-body {
    font-size: 10px;
  }
  table.schedule th {
    font-size: 10px;
  }
  div.footer {
    font-size: 10px;
  }
}

@media only screen and (max-width : 568px) {
  div.alert {
    font-size: 8px;
  }
  h1 {
    font-size: 13px;
  }
  h3.panel-title {
    font-size: 8px;
  }
  .panel-body {
    font-size: 8px;
  }
  table.schedule th {
    font-size: 8px;
  }
  div.footer {
    font-size: 8px;
  }
}
