body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/* Time Schedule Styling */

table.schedule {
  border-collapse: collapse;
  width: 100%;
}

table.schedule, table.schedule th, table.schedule td {
  border: 1px solid #dddddd;
}

table.schedule th, table.schedule td {
  padding: 5px;
  vertical-align: top;
}

table.schedule th {
  text-align: center;
  background-color: #eeeeee;
}

table.schedule div.panel {
  margin-bottom: 0px;
}

table.schedule div.panel-heading, table.schedule div.panel-body {
  padding:5px;
}

DIV.footer {
  padding: 10px;
  font-size: 9pt;
  color: #aaaaaa;
}
